h1 {
    padding: 50px;
    text-align: center;
    width: 100%;
}

.btn-light {
    width: 100%;
    position: relative;
    top: 50%;
    margin: 10px;
    font-size: 2.5rem;
}

svg {
    width: 20px;
    margin-left: 5px;
}

.taskbar {
    position: relative;
    top: 50%;
}

.mainlist {
    border: 1px solid silver;
    padding: 20px;
}

.card {
    width: 250px;
    margin: 0;
    text-align: center;
}

.col-lg-3,
.col-6 {
    padding: 10px;
}

.card-img-top {
    margin: auto;
}

.card-body {
    padding: 10px;
}

.btn-dark {
    margin: 10px auto;

    width: fit-content;
}

.modal-body img {
    width: 100%;
    padding: 20px;
}

.modal-body h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.modal-body h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: red;
}

.table {
    border: 1px solid silver;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
